name: Publish Docker Image

on:
  push:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Build the Docker image
      run: docker build -t ghcr.io/vordenken/deye-microinverter-cloud-free/deye-dummycloud:latest .
      working-directory: ./dummycloud

    - name: Login to GitHub Container Registry
      run: echo ${{ secrets.CR_PAT }} | docker login ghcr.io -u ${{ github.repository_owner }} --password-stdin

    - name: Push Docker image to GitHub Container Registry
      run: docker push ghcr.io/$GITHUB_REPOSITORY/deye-dummycloud:latest
